main {
    position: absolute;
    margin-left: 250px;
    margin-top: 180px;
    
}

.image {
    position: relative;
    top: 50%;
    left: 65%;
    width: 350px;
    height: 100px;
    
}
    
.search {
    position: relative;
    top: 50%;
    left: 50%;
    height: 35px;
    width: 500px;
}

.btn {
    position: relative;
    top: 50%;
    left: 69%;
    height: 35px;
    width: 150px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}